extends layout.pug

block content
	h2 Привет, #{name}!
	h1 Ваш заказ ##{orderID}
	ul
		each product in products
			li
				h3 #{product.name} × #{product.count}

				if product.color
					p <b>Цвет: #{product.color}</b>

				p #{product.description}
